# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE and editor configurations
.idea/
.vscode/
